@charset "utf-8";
/*background color and font */
body {
   background color: hsl:(27,27%,72%);
   font-family: Arial, Helvetica, sans-serif;
}
/*header*/
header {
   text-align: center;
   font-size: 2em;
   font-weight: bold;
   padding: 20px;
   color: white;
   background-color: rbg (222,128,60);
}
/* Navigation Menu */
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   background-color: black;
}

nav ul li {
   margin: 0;
}

nav ul li a {
   display: block;
   padding: 15px 20px;
   text-decoration: none;
   color: white;
}
/* Hover Effect */
nav ul li a:hover {
   background-color: orange;
   color: white;
}

/* Main Sections */
section {
   margin: 20px;
   padding: 20px;
   background-color: white;
   border: 1px solid black;
   border-radius: 5px;
}

/* Footer */
footer {
   text-align: center;
   font-size: 0.8em;
   background-color: navy;
   color: white;
   padding: 15px;
}
