@charset "utf-8";
/*background color and font */
body {
   background color: hsl:(27,27%,72%);
   font-family: Arial, Helvetica, sans-serif;
}
/*header*/
header {
   text-align: center;
   font-size: 2em;
   font-weight: bold;
   padding: 20px;
   color: white;
   background-color: rbg (222,128,60);
}
/* Navigation Menu */
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   background-color: black;
}

nav ul li {
   margin: 0;
}

nav ul li a {
   display: block;
   padding: 15px 20px;
   text-decoration: none;
   color: white;
/* transition */
   transition: background-color 0.3s ease;
}
/* Hover Effect */
nav ul li a:hover {
   background-color: orange;
   color: white;
}

/* Main Sections */
section {
   margin: 20px;
   padding: 20px;
   background-color: white;
   border: 1px solid black;
   border-radius: 5px;
   
/* transition */
    transition: transform 0.3s ease;
}

/* Zoom in on hover */
section:hover {
    transform: scale(1.02);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px 0;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: orange;
    color: white;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Footer */
footer {
   text-align: center;
   font-size: 0.8em;
   background-color: navy;
   color: white;
   padding: 15px;
}
